.dashboard-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.greeting {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #047b67;
}

.card-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.dashboard-card {
  flex: 1 1 250px;
  max-width: 300px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.dashboard-card h3 {
  margin-top: 10px;
  font-size: 20px;
  color: #004d40;
}

.dashboard-card p {
  font-size: 14px;
  color: #666;
}

i{
  font-size: 30px !important;
}
