<div class="dashboard-container">
  <h2 class="greeting"><i class="fa-solid fa-hand-holding-heart"></i>  Hello,{{ userName }}</h2>

  <div class="card-grid">
    <div class="dashboard-card" (click)="navigateTo('check-in')">
      <i class="fa-solid fa-clock"></i>
      <h3>Check In</h3>
      <p>Start your day by checking in</p>
    </div>

    <div class="dashboard-card" (click)="navigateTo('check-in-history')">
      <i class="fa-solid fa-list"></i>
      <h3>Check-In History</h3>
      <p>View your past attendance</p>
    </div>

    <div class="dashboard-card" (click)="navigateTo('profile')">
      <i class="fa-solid fa-user"></i>
      <h3>Profile</h3>
      <p>See your profile details</p>
    </div>
  </div>
</div>
