<p class="signature-label">Signature</p>

<div *ngIf="signatureUrl; else noSignature">
  <img [src]="signatureUrl" alt="Signature" />
</div>

<ng-template #noSignature>
  <div class="signature-placeholder">No signature available</div>
</ng-template>

<input type="file" accept="image/*" (change)="onFileSelected($event)" />

<div class="pad-wrapper">
  <canvas #canvas width="250" height="100" class="signature-pad" (mousedown)="startDrawing($event)"
    (mousemove)="draw($event)" (mouseup)="stopDrawing()" (mouseleave)="stopDrawing()"
    (touchstart)="startDrawing($event)" (touchmove)="draw($event)" (touchend)="stopDrawing()"></canvas>

  <button type="button" (click)="clearCanvas()">Clear</button>
</div>

<p *ngIf="message" [ngClass]="messageType">{{ message }}</p>