.employee-form-container {
  max-width: 600px;
  margin: auto;
  padding: 30px;
 background: #013d3dd9;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.3);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: white;
}

input[type="text"],
input[type="number"],
input[type="file"] ,
input[type="password"], 
input[type="email"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #038361;
  box-shadow: 0 0 5px #038361;
}

.error {
  color: #ff6b6b;
  font-size: 14px;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #25423a;
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #00c8d6;
}

i{
  font-size: 20px;
}

